
:root {
	--aboutContact-color: #636262;
	--exp-color: #d3cdb2;
	--education-color: #545468;
	--skills-color: #72a5ce;
	--courses-color: #5f5050;
}

[data-bg='aboutContact'] {
	background-color: var(--aboutContact-color);
}

[data-bg='exp'] {
	background-color: var(--exp-color);
}

[data-bg='education'] {
	background-color: var(--education-color);
}

[data-bg='skills'] {
	background-color: var(--skills-color);
}
[data-bg='courses'] {
	background-color: var(--courses-color);
}

.wrapper {
	display: flex;
	padding: 0.5em;
	max-width: 1200px;
	margin: 0 auto;
	background-color: rgb(210, 210, 210);
	border-radius: 10px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

}

.card {
	position: relative;
	justify-content: center;
	flex-grow: 0.8;
	height: 600px;
	margin: 4px;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
	transition: flex-grow 0.8s;
	overflow: hidden;
	cursor: pointer;
}

.card::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	transition: opacity 0.5s;
}

.aboutContact {
	background-image: url('/media/MaciejOrginal.JPG');
}

.exp {
	background-image: url('/media/experience.jpg');
}

.education {
	background-image: url('/media/GraduationMaster.jpg');
}

.skills {
	background-image: url('/media/Skills.jpg');
	
}
.courses {
	background-image: url('/media/courses.jpg');
}

.aboutContact::before,
.exp::before,
.education::before,
.skills::before,
.courses::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	content: '';
}

.aboutContact::before {
	background-color: var(--aboutContact-color);
}

.exp::before {
	background-color: var(--exp-color);
}

.education::before {
	background-color: var(--education-color);
}

.skills::before {
	background-color: var(--skills-color);
}
.courses::before {
	background-color: var(--courses-color);
}

.text {
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
	width: auto;
	padding: 2em;
	color: #fff;
	border-radius: 6px;
	z-index: 5;
}

.text h2 {
	text-transform: uppercase;
	transform: rotate(-90deg);
}

.text p {
	display: none;
	text-align: center;
	letter-spacing: 2px;
	opacity: 0;
	font-size: 1.6rem;
}

.btnDownload {
	display: none;
}

.active {
	flex-grow: 8;
}

.active .text {
	animation: show-bg 1s 0.6s forwards;
}

.active .text h2 {
	display: none;
}

.active .text p {
	display: block;
	animation: show-text 1s 0.2s forwards;
}
.active .btnDownload {
	display: block;
	margin: 0 auto;
	padding: 4px;
	background-color: rgba(145, 145, 145, 0.7);
	font-size: 1.5rem;
}


.card.active::after {
	opacity: 0;
}

@keyframes show-bg {
	to {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

@keyframes show-text {
	to {
		opacity: 1;
	}
}
